

<nav class="navbar navbar-default navbar-fixed-bottom" style="background-color: white">
    <div id="footer">
        <nav class="navbar-default navbar footer" >
    <div class="pull-left webInfo" style="font-family: 微软雅黑">

             <div >
                 <span style="font-size:15px; color: #828283"> We would love to hear from you! </span>
             </div>
             <div>
                 <span style = "color: #828283">
                 For support, questions, and comments, you can email:
                 </span>
                 <span style = "color: #33ACFF">
                 TeachTalkTeam@gmail.com
                 </span>
             </div>
             <div>


         </div>
        </nav>
    </div>
</nav>