

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div id="footer">
        <nav class="navbar-default navbar footer" >
            <div class="pull-left webInfo">

                <div class="school">
                    <span style="font-size:15px; color: darkgrey">We would love to hear from you! </span> </div>
                <div>
                    <span style = "color: darkgrey">
                    For support, questions, and comments, you can email:
                    </span>
                    <span style = "color: #33ACFF">
                    TeachTalkTeam@gmail.com
                    </span>
                </div>
                <div>


            </div>

        </nav>
    </div>
</nav>