<div id="footer">
	<nav class="navbar-default navbar footer" >
		<div class="pull-left webInfo">
			<div class="school">南京大学软件学院</div>
			<div>面向web的计算&nbsp;课程项目</div>
			<div>学号：121250132</div>
		</div>
		<div class="pull-right poweredby">
			<span><b>Powered by:</b></span>
			<div>
				<a class="bg_sprite jquery_icon" href="http://jquery.com/"></a>
				<a class="bg_sprite bootstrap_icon" href="http://www.bootcss.com/"></a>
				<a class="bg_sprite thinkphp_icon" href="http://www.thinkphp.cn/"></a>
			</div>
		</div>
	</nav>
</div>