<a class="btn btn-success btn-lg btn-block"  href="{:U('Ask/index')}" style = "background-color: #33ACFF">
	<span class="glyphicon glyphicon-edit"></span> I Have A Question
</a>
<br>
<div class="panel panel-default">
	<div class="panel-heading">Monthly trending topic</div>
	<div class="panel-body" style="padding-left:0px;">
		<ul>
			<foreach name="hotList" item="hotQuestion">
			<li class="hot">
				<a href="{:U('Question/questionPage',array('id'=>$hotQuestion['questionId']))}">{$hotQuestion.title}</a>
			</li>
			</foreach>
		</ul>
	</div>
</div>