<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/Public/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/Public/css/common.css" rel="stylesheet">
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="wrap">
			<include file="Public:header" />
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="left-content">
							<include file="Index:questionList" />
						</div>
					</div>
					<div class="col-md-3">
						<div class="right-content">
							<include file="Public:hot" />
						</div>
					</div>
				</div>
			</div>
			<include file="Public:footer" />
		</div>
		<script src="/Public/js/jquery-2.1.1.min.js"></script>
		<script src="/Public/js/bootstrap.min.js"></script>
		<script src="/Public/js/jquery.form.js"></script>
	</body>
</html>