<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="/Public/css/prettify.css" rel="stylesheet">
    <link href="/Public/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Public/css/myeditor.css" rel="stylesheet">
    <link href="/Public/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/Public/css/common.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrap">
      <include file="Public:header" />
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="left-content">
              <h3><b>Ask a question</b></h3>
              <form class="form-horizontal questionForm">
                <div class="form-group">
                  <label for="title" class="col-md-2 control-label">Title</label>
                  <div class="col-md-4">
                    <input type="title" class="form-control" id="title" name="title" placeholder="Enter a one line summary..." required="required">
                  </div>
                </div>
                <div class="form-group">
                  <label for="editor" class="col-md-2 control-label">Details</label>
                  <div class="col-md-8">
                    <div id="alerts"></div>
                    <div>
                      <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
                        <div class="btn-group">
                          <a class="btn btn-default" data-edit="bold" title="Bold(Ctrl+B)"><i class="icon-bold"></i></a>
                          <a class="btn btn-default" data-edit="italic" title="Italic(Ctrl+I)"><i class="icon-italic"></i></a>
                          <a class="btn btn-default" data-edit="strikethrough" title="Strike-through"><i class="icon-strikethrough"></i></a>
                          <a class="btn btn-default" data-edit="underline" title="Underline(Ctrl+U)"><i class="icon-underline"></i></a>
                        </div>
                        <div class="btn-group">
                          <a class="btn btn-default" data-edit="justifyleft" title="Align left(Ctrl+L)"><i class="icon-align-left"></i></a>
                          <a class="btn btn-default" data-edit="justifycenter" title="Align center(Ctrl+E)"><i class="icon-align-center"></i></a>
                          <a class="btn btn-default" data-edit="justifyright" title="Align right(Ctrl+R)"><i class="icon-align-right"></i></a>
                          <a class="btn btn-default" data-edit="justifyfull" title="Align full(Ctrl+J)"><i class="icon-align-justify"></i></a>
                        </div>
                        <div class="btn-group">
                          <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Add link"><i class="icon-link"></i></a>
                          <div class="dropdown-menu input-append">
                            <input class="span2" placeholder="URL" type="text" data-edit="createLink"/>
                            <button class="btn btn-default" type="button">Add</button>
                          </div>
                          <a class="btn btn-default" data-edit="unlink" title="Remove link"><i class="icon-cut"></i></a>
                        </div>
                        <div class="btn-group">
                          <a class="btn btn-default" title="Drag / insert an image" id="pictureBtn"><i class="icon-picture"></i></a>
                          <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
                        </div>
                        <div class="btn-group">
                          <a class="btn btn-default" data-edit="undo" title="Undo(Ctrl+Z)"><i class="icon-undo"></i></a>
                        </div>
                        <input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech="">
                      </div>
                      <div id="editor">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="score" class="col-md-2 control-label">Price</label>
                  <div class="col-md-4">
                    <input type="score" class="form-control" id="score" name="score" placeholder="Price should be lower than your score." required="required">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label">Areas</label>
                  <div class="col-md-4">
                    <foreach name="areas" item="area">
                      <p><input type="checkbox" name="areaList[]" value="{$area.areaId}"> {$area.areaName}</input></p>
                    </foreach>
                  </div>
                </div>
              </form>
              <div class="col-md-offset-5 col-md-4 error askError" style="text-align:right">
                <empty name="_SESSION['userName']">
                <a href="{:U('Login/loginPage')}">&nbsp;Login&nbsp;</a>to ask question
                </empty>
              </div>
              <div class="col-md-2">
                <empty name="_SESSION['userName']">
                <button class="btn btn-primary disabled">Post</button>
                <else />
                <button class="btn btn-primary submitQuestion">Post</button>
                </empty>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="right-content">
              <include file="Public:hot" />
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script src="/Public/js/jquery-2.1.1.min.js"></script>
    <script src="/Public/js/bootstrap.min.js"></script>
    <script src="/Public/js/jquery.hotkeys.js"></script>
    <script src="/Public/js/prettify.js"></script>
    <script src="/Public/js/bootstrap-wysiwyg.js"></script>
    <script src="/Public/js/myeditor.js"></script>
    <script src="/Public/js/jquery.form.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
    $(".submitQuestion").click(function(){
    $(".questionForm").ajaxSubmit({
    url: "{:U('Ask:askQuestion')}",
    type:"post",
    data:{
    "content":$("#editor").html()
    },
    dataType:"json",
    success:function(data){
    if(data != "success"){
    $(".askError").text(data);
    }else{
    location.href="{:U('Index/index')}";
    }
    }
    });
    });
    });
    </script>
  </body>
</html>