<li class="media">
    <div class="pull-left">
    <img class="media-object icon-sm" src="/Uploads/{$subAnswer.User.icon}"></div>
    <div class="media-body">
        <div class="media-content" >
            <p>
            <span><a href="{:U('UserInfo/index',array('userId'=>$subAnswer['User']['userId']))}">{$subAnswer.User.userName}</a>
            <notempty name="subAnswer.ReplyUser">
            <span>回复<a href="{:U('UserInfo/index',array('userId'=>$subAnswer['ReplyUser']['userId']))}">{$subAnswer.ReplyUser.userName}</a></span>
            </notempty>
            :
            </span>
            {$subAnswer.content}
            </p>
            <span class="pull-right gray" style="padding-right:10px;">
            <button class="btn btn-link answer_to">
            回复
            </button>
            <span style="display:none" class="user_to_id">{$subAnswer.userId}</span>
            <span style="display:none" class="user_to_name">{$subAnswer.User.userName}</span>
            {$subAnswer.time}</span>
        </div>
    </div>
</li>